{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}

<h1 class="pushLeft">Find customers from here</h1>

<div class="pushLeft">
    <form action="/customers/findCustomer" method="POST">
        <label>Customer name:</label>
        <br>
        <input type="text" name="name" required autofocus>
        <br><br>
        <button type="submit">search</button>
    </form>
</div>
<br><br>
<div class="pushLeft">
    <table>
        <tr>
            <th>customer ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
        </tr>
        {%for i in cust%}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

{%endblock%}
{%block footer%}{{super()}}{%endblock%}