{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<div class="indexNav">
    <h1 class="pushLeft">Welcome to the loans page</h1>
    <br><br>
    <a class="pushLeft" href="/loans/loanabook">Loan a book</a><br><br>
    <a class="pushLeft" href="/loans/returnabook">Return a loaned book</a><br><br>
    <a class="pushLeft" href="/loans/displaylateloans">Show all late loans</a><br><br>
    <a class="pushLeft" href="/loans/displayallloans">Show all loans from library</a>
</div>
{%endblock%}
{%block footer%}{{super()}}{%endblock%}