{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<h1 class="pushLeft">Find me on:</h1>
<a href="https://wa.me/+972543348089" target="_blank"><img src="../static/images/whatsapp.png" width="30"
    alt="WhatsApp">WhatsApp</a>&nbsp;<br><a href="https://www.facebook.com/beni.ribakov/" target="_blank"><img
    src="../static/images/facebook.png" width="25" alt="Facebook">Facebook</a>&nbsp;<br><a href="mailto:Beni.rinakov@gmail.com" target="_blank">
        <img src="../static/images/gmail.png" width="25" alt="gmail">Gmail</a>&nbsp;<br><br>
    &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
{%endblock%}
{%block footer%}{{super()}}{%endblock%}